<div id="wrapper">

    <section class="content">
        <div class="columns">
            <div class="sidebar-first">
                <!-- Info -->
                <!-- <app-info></app-info> -->
            </div>
            <div class="main">
                <app-header></app-header>
                <!-- Mi sistema de rutas -->
                <router-outlet></router-outlet>
                <app-footer></app-footer>
            </div>
            <div class="sidebar-second">
                <!-- Social -->
                <!-- <app-social></app-social> -->
            </div>
        </div>
    </section>

</div>