@import "../../shared/variables";

h1 {
    display: flex;
    justify-content: center;
    color: $betaWhiteColor;
    padding: 0.5rem;
    width: 100%;
    border-bottom: 1px solid $epsilonGreyColorSecondary;
}

.card {
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-color: $betaWhiteColor;

    @media (max-width: 500px) {
        flex-direction: column;
    }
}

.card-title {
    font-weight: bold;
    color: $betaWhiteColor;
}

.card img {
    width: 250px;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-text {
    color: $deltaGreyColor;
}

.btn {
    margin: 5px;
    background-color: transparent;
    border-color: $betaWhiteColor;
    color: $betaWhiteColor;
    font-weight: bold;

    &:hover {
        color: $alphaBlackColor;
        background-color: $gammaYellowColor;
        border-color: transparent;
    }
}

.btn-secondary {
    color: $dsetaRedColor;

    &:hover {
        color: $alphaBlackColor;
        background-color: $dsetaRedColor;
        border-color: transparent;
    }
}

@media only screen and (max-width: 500px) {
    .card-body {
        padding: 0.5em 1.2em;
    }

    .card-body .card-text {
        margin: 5px;
    }

    .card img {
        width: 80vw;
    }
}

// Trigger
.animate {
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

// FADE IN
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}