@import "../../shared/variables";

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;

    @media (max-width: 500px) {
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.skills-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: 500px) {
        flex-wrap: wrap;
    }
}

.skill {
    @media (max-width: 500px) {
        width: 100px;
    }
}

.photo-container {
    text-align: center;
    margin-right: 10px;
}

.description-container {
    margin-left: 10px;
    width: 100%;

    @media (max-width: 500px) {
        margin-top: 20px;
    }
}

h1,
h2 {
    display: flex;
    justify-content: center;
    color: $betaWhiteColor;
    padding: 0.5rem;
    width: 100%;
    border-bottom: 1px solid $epsilonGreyColorSecondary;
}

h2 {
    font-size: 25px;

    @media (max-width: 500px) {
        font-size: 20px;
    }
}

h3 {
    color: $betaWhiteColor;
    font-size: 20px;

    @media (max-width: 500px) {
        font-size: 15px;
    }
}

h4 {
    color: $deltaGreyColor;
    font-size: 15px;

    @media (max-width: 500px) {
        font-size: 10px;
    }
}

span {
    padding: 10px;
    margin: 2px;
    color: $betaWhiteColor;
}

p {
    color: $deltaGreyColor;
    font-size: 20px;
    font-family: Calistoga;

    b {
        color: $gammaYellowColor;
    }

    @media (max-width: 500px) {
        font-size: 15px;
    }
}

.personalphoto {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 3px solid $gammaYellowColor;
}

// Trigger
.animate {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animatephoto {
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

// FADE IN
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}