<nav class="navbar navbar-expand-lg navbar-dark container">
    <div class="container-fluid">
        <a routerLink="/">
            <img src="./assets/mlogov2.png" class="mlogo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHome"
            aria-controls="navbarHome" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarHome">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/about" class="nav-link px-2 index_1" *ngIf="lenguageEN">
                        About
                    </a>
                    <a routerLink="/about" class="nav-link px-2 index_1" *ngIf="!lenguageEN">
                        Sobre mí
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/experience" class="nav-link px-2 index_2" *ngIf="lenguageEN">
                        Experience
                    </a>
                    <a routerLink="/experience" class="nav-link px-2 index_2" *ngIf="!lenguageEN">
                        Experiencia
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/work" class="nav-link px-2 index_3" *ngIf="lenguageEN">
                        Work
                    </a>
                    <a routerLink="/work" class="nav-link px-2 index_3" *ngIf="!lenguageEN">
                        Trabajo
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" class="nav-link px-2 index_4" *ngIf="lenguageEN">
                        Contact
                    </a>
                    <a routerLink="/contact" class="nav-link px-2 index_4" *ngIf="!lenguageEN">
                        Contacto
                    </a>
                </li>
                <li class="nav-item">
                    <select class="form-select" id="selectlenguage" (change)="changeLenguage()">
                        <option value="EN">English</option>
                        <option value="ES" selected="selected">Español</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>