@import "../../shared/variables";

.mlogo {
    width: 80px;
    height: 80px;
}

$index: "1",
    "2",
    "3",
    "4";

@each $i in $index {

    .index_#{$i} {
        &:before {
            content: $i ".";
            color: $gammaYellowColor;
        }
    }
}

.navbar-dark,
.navbar-nav,
.nav-link {
    :hover {
        color: $gammaYellowColor;
    }
}

.container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar-toggler {
    border-color: $betaWhiteColor;
}

.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.main-nav li {
    display: inline-block;
}

.main-nav a {
    padding: .5em 1.5em;
}

select {
    width: 120px;
    background-color: transparent;
    color: $betaWhiteColor;
    border-color: $betaWhiteColor;
}

select option {
    color: $betaWhiteColor;
    background-color: $alphaBlackColor;
}