<header>
    <div class="container">

        <a href="/">
            <img src="./assets/mlogov2.png" class="mlogo">
        </a>

        <nav class="main-nav">
            <ul class="main-nav-list">
                <li>
                    <a href="/about" class="nav-link px-2 index_1" *ngIf="lenguageEN">
                        About
                    </a>
                    <a href="/about" class="nav-link px-2 index_1" *ngIf="!lenguageEN">
                        Sobre mí
                    </a>
                </li>
                <li>
                    <a href="/experience" class="nav-link px-2 index_2" *ngIf="lenguageEN">
                        Experience
                    </a>
                    <a href="/experience" class="nav-link px-2 index_2" *ngIf="!lenguageEN">
                        Experiencia
                    </a>
                </li>
                <li>
                    <a href="/work" class="nav-link px-2 index_3" *ngIf="lenguageEN">
                        Work
                    </a>
                    <a href="/work" class="nav-link px-2 index_3" *ngIf="!lenguageEN">
                        Trabajo
                    </a>
                </li>
                <li>
                    <a href="/contact" class="nav-link px-2 index_4" *ngIf="lenguageEN">
                        Contact
                    </a>
                    <a href="/contact" class="nav-link px-2 index_4" *ngIf="!lenguageEN">
                        Contacto
                    </a>
                </li>
                <li>
                    <select class="form-select" id="selectlenguage" (change)="changeLenguage()">
                        <option value="EN">English</option>
                        <option value="ES" selected="selected">Español</option>
                    </select>
                </li>
            </ul>
        </nav>
    </div>
</header>