@import "../../shared/variables";

.home-container {
    box-sizing: border-box;
    height: 70vh;
    margin-left: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    @media (max-width: 500px) {
        margin-left: 0vh;
        height: 45vh;
    }
}

h2 {
    color: $deltaGreyColor;
    font-size: 50px;
    font-family: Calistoga;
    font-weight: 600;

    @media (max-width: 500px) {
        font-size: 35px;
    }
}

h2::after {
    content: "Miguel";
    color: $gammaYellowColor;
}

h3 {
    color: $betaWhiteColor;
}

p {
    color: $deltaGreyColor;
    width: 60%;
    font-size: 20px;
    font-family: Calistoga;

    @media (max-width: 500px) {
        font-size: 15px;
    }
}

a {
    text-decoration: none;
    font-size: 25px;
    color: $betaWhiteColor;

    @media (max-width: 500px) {
        font-size: 18px;
    }
}

a:hover {
    color: $gammaYellowColor;
}

// Trigger
.animate {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

// FADE IN
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}