<div class="home-container animate fadeIn" *ngIf="lenguageEN">
    <h2>Hi, my name is </h2>
    <h3>Computer Engineer</h3>
    <p>
        Read more
        <a href="/about">about me</a>
        or
        <a href="/contact">contact me</a>
    </p>
</div>

<div class="home-container animate fadeIn" *ngIf="!lenguageEN">
    <h2>Hola, me llamo </h2>
    <h3>Ingeniero Informático</h3>
    <p>
        Encuentra más
        <a href="/about">sobre mí</a>
        o
        <a href="/contact">contáctame</a>
    </p>
</div>