.home-container {
    box-sizing: border-box;
    height: 70vh;
    margin-left: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

h2 {
    color: #f6f4e69a;
    font-size: 50px;
    font-family: Calistoga;
    font-weight: 600;
}

h2::after {
    content: "Miguel";
    color: #FDDB3A;
}

h3 {
    color: #F6F4E6;
}

p {
    color: #f6f4e69a;
    width: 60%;
    font-size: 20px;
    font-family: Calistoga;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: #F6F4E6;
}

a:hover {
    color: #FDDB3A;
}

// Trigger
.animate {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

// FADE IN
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}